/*Craete Post  */
.createPost {
  display: flex;
  flex-direction: column;
}
/* Content */
.createPost-content {
  display: flex;
}

.createPost-content__post {
  flex-grow: 1;
  margin: 5px 0;
  margin-left: 10px;
  padding: 5px;
  max-width: 675px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
}

.createPost-content__ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* Picture */
.createPost-picture {
  display: none;
}
.createPost-picture-showen{
  display: flex;
  animation: createPost-picture-show 2s 1;
	animation-fill-mode: forwards;
}

.createPost-picture-hidden {
  display: flex;
	animation: createPost-picture-hide 1s 1;
	animation-fill-mode: forwards;
}

@keyframes createPost-picture-show{
	0%{
		opacity: 0;
		max-height: 0;
	}
	50%{
		max-height: 100px;
	}
	100% {
    opacity:1;
	}
}

@keyframes createPost-picture-hide{
	0%{
    opacity:1;
  }
  50%{
		max-height: 500px;
	}
	100% {
    opacity: 0;
		max-height: 0;
	}
}


.createPost-picture__link {
  margin: 10px 0;
  margin-left: 20px;
  padding: 5px;
  min-width: 300px;
  max-width: 300px;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  color: lightgrey;
}
.createPost-picture__delete {
  align-self: center;
  margin-left: 10px;
  color: #aaa;
  font-size: 38px;
  cursor: pointer;
}

.createPost-picture__img {
  align-self: center;
  width: 30px;
  height: 30px;
}

/* Publish */
.createPost-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: #4a76a8;
  transition: all 0.1s linear;
  transform: scale(1);
  box-shadow: 1px 1px 5px #999;
}

.button-settings:hover{
	transform: scale(1.03);
}

.button-settings:active{
	transform: scale(0.98);
}
