
.post {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  cursor: default;
}

.text_lightgray {
  color: lightgray;
}

/* Post header */
.post-header {
  display: grid;
  grid-template-columns: 70px 1fr 50px;
  grid-template-rows: 30px 1fr;
  grid-auto-flow: column;
  align-items: center;
  margin-bottom: 10px;
}

.post-header__ava {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  grid-row: span 2 / auto;
}

.post-header__name {
  font-size: 16px;
  align-self: end;
}

.post-header__time {
  align-self: start;
}

.post-header__delete {
  width: 25px;
  height: 25px;
  justify-self: end;
  align-self: start;
  cursor: pointer;
}

/* Post content */
.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content:after {
  content: "";
  width: 100%;
  height: 2px;
  margin: 10px;
  background-color: lightgray;
}

.post-content__text {
  align-self: flex-start;
}

.post-content__img {
  margin-top: 10px;
  max-width: 730px;
  max-height: 410px;
  object-fit: contain;
  border-radius: 5px;
}

/* Post like */
.post-likes {
  display: flex;
  cursor: pointer;
  /* line */
  border-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  padding-bottom: 10px;
}


.post-like-smiles {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
}

.post-like-smiles__img {
  width: 25xp;
  height: 25px;
  object-fit: cover;
}

.post-like-smiles__text {
  font-size: 0.9em;
  margin-left: 3px;
}


.likeIsSelected {
  color: green;
  font-size: 16px;
}

.post-like-comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  cursor: default;
}

.post-like-comment__text {
  font-size: 0.9em;
  margin-right: 10px;
}

/* Post comments */
.post-comments__more {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #4da3ff;
}
.post-comments__more:hover {
  text-decoration: underline;
}

.post-comments-comment {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 30px 1fr;
  align-items: center;
  font-size: 0.9em;
}

.post-comments-comment__ava {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-row: span 3 / auto;
  align-self: start;
}

.post-comments-comment__time {
  /* line */
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  padding-bottom: 5px;
}

/* Post sender */
.post-sender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.post-sender__ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-sender__textarea {
  height: 20px;
  flex-basis: 80%;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  overflow: auto;
  resize: none;
}

.post-sender__add {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.post-sender__send {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
