.AddPhotoContainer {
    display: flex;
}

.AddPhotoContainer .createPost-picture__link {
    min-width: 400px;
}

.AddPhotoContainer .button-settings {
    margin: 10px;
    margin-left: 40px;
}

.AddPhotoContainer .createPost-picture__link {
    max-height: 18px;
}
.photoInfo__title {
    color: rgb(160, 160, 160);
    cursor: pointer;
}
.photoInfo-buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    
}

.photoInfo-buttons-img {
    display: flex;
	align-items: center;
	justify-items: center;
    justify-content: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
}

.img-settings {
    width: 35px;
    height: 35px; 
}
